:root {
    --primary-color: #007bff;
    --primary-hover: #0056b3;
    --success-color: #28a745;
    --success-hover: #218838;
    --white: #fff;
    --light-bg: rgba(255, 255, 255, 0.9);
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --font-family: 'Arial, sans-serif';
    --font-size-base: 16px; /* Tamaño base de la fuente */
    --font-size-lg: 1.25rem; /* Tamaño grande de la fuente */
    --font-size-sm: 0.875rem; /* Tamaño pequeño de la fuente */
    --border-radius: 0.5rem; /* Radio de borde */
    --padding-base: 1rem; /* Espaciado base */
    --padding-lg: 1.5rem; /* Espaciado grande */
    --padding-sm: 0.5rem; /* Espaciado pequeño */
}





  /* Base styles */
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background: url('../images/login.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

  /* Container styles */
.container {
    background-color: var(--light-bg);
    padding: var(--padding-base);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-width: 1080px;
    width: 100%;
    margin: var(--padding-base) auto;
}

.title {
    color: var(--title-color);  /* Usar la variable de color del título */
    font-size: 2rem;  /* Ajustar el tamaño de la fuente */
    text-align: center;  /* Alinear el texto al centro */
    margin-bottom: 1rem;  /* Espaciado inferior */
}



.login-container {
    max-width: 400px;
}

.register-container {
    padding: var(--padding-lg);
    margin-top: var(--padding-sm);
}

.form-container {
    margin: 0 auto;
}

  /* Form styles */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-base);
}

.form-column {
    flex: 1;
    min-width: 300px;
}

.form-group {
    margin-bottom: var(--padding-sm);
}

.form-title {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin-bottom: var(--padding-base);
}

  /* Button styles */
.btn-primary {
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.btn-primary:hover {
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}

.btn-link {
    color: var(--primary-color);
}

.btn-link:hover {
    color: var(--primary-hover);
    text-decoration: none;
}

  /* Text styles */
/* Text styles */
.text-center {
    margin-top: var(--padding-sm);
    color: #2c3e50;  /* negro formal */
}


  /* Layout styles */
#wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#sidebar-wrapper {
    height: 100vh; /* Ajusta la altura al 100% de la ventana de visualización */
    width: 150px;
    background-color: var(--primary-color);
    color: var(--black); /* Añadir color blanco al texto para mejor contraste */
}

#page-content-wrapper {
    width: calc(100% - 170px);
    padding: var(--padding-sm);
}

  /* Table styles */
.table {
    background-color: var(--light-bg);
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
    padding: var(--padding-sm);
}

.table thead th {
    background-color: var(--primary-color);
    color: var(--white);
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

  /* Misc styles */
.list-group-item {
    border: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

  /* Hover effects */
.login-container:hover,
.register-container:hover,
.form-container:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

  /* Media queries for responsiveness */
@media (max-width: 768px) {
    #wrapper {
        flex-direction: column;
    }

    #page-content-wrapper {
        width: calc(100% - 150px); /* Ajusta el ancho para que tome el resto del espacio */
        padding: var(--padding-sm);
    }

    .form-column {
        min-width: 100%;
    }
}

.alert-container {
    position: fixed;
    top: var(--padding-base);
    right: var(--padding-base);
    z-index: 1000;
    width: 300px;
}


