{% extends "home.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Editar Usuario</h1>
    <form method="POST" action="{{ url_for('usuario_editar', user_id=user.UsuarioID) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(class="form-control", id="username") }}
        </div>
        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class="form-control", id="email") }}
        </div>
        <div class="form-group">
            <label for="identificacion">{{ form.identificacion.label }}</label>
            {{ form.identificacion(class="form-control", id="identificacion") }}
        </div>
        <div class="form-group">
            <label for="apellidos">{{ form.apellidos.label }}</label>
            {{ form.apellidos(class="form-control", id="apellidos") }}
        </div>
        <div class="form-group">
            <label for="nombres">{{ form.nombres.label }}</label>
            {{ form.nombres(class="form-control", id="nombres") }}
        </div>
        <div class="form-group">
            <label for="telefono">{{ form.telefono.label }}</label>
            {{ form.telefono(class="form-control", id="telefono") }}
        </div>
        <div class="form-group">
            <label for="direccion">{{ form.direccion.label }}</label>
            {{ form.direccion(class="form-control", id="direccion") }}
        </div>
        <div class="form-group">
            <label for="ciudad_residencia">{{ form.ciudad_residencia.label }}</label>
            {{ form.ciudad_residencia(class="form-control", id="ciudad_residencia") }}
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento">{{ form.fecha_nacimiento.label }}</label>
            {{ form.fecha_nacimiento(class="form-control", id="fecha_nacimiento") }}
        </div>
        <div class="form-group">
            <label for="genero">{{ form.genero.label }}</label>
            {{ form.genero(class="form-control", id="genero") }}
        </div>
        <div class="form-group">
            <label for="grupo_sanguineo">{{ form.grupo_sanguineo.label }}</label>
            {{ form.grupo_sanguineo(class="form-control", id="grupo_sanguineo") }}
        </div>
        <div class="form-group">
            <label for="estado">{{ form.estado.label }}</label>
            {{ form.estado(class="form-control", id="estado") }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
    </form>
</div>
{% endblock %}
