<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="form-title text-center">Por favor inicie sesión</div>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class="form-control", id="email") }}
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class="form-control", id="password") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember(class="form-check-input", id="remember") }}
                <label class="form-check-label" for="remember">{{ form.remember.label }}</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">{{ form.submit() }}</button>
            <div class="text-center mt-3">
                <a href="{{ url_for('register') }}" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
